body{
    background-color: #e6ded6;
}


.home-page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sessions-div{
    width: 50%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    scroll-behavior: smooth;
    overflow: auto;
    -ms-overflow-style:none;
    scrollbar-width: none;
    border-radius: 20px;
    background-color: white;

}

.session-div{
    padding: 3%;
    cursor: pointer;
}

.session-div:hover{
    background-color: #e6ded6;
}

.buttons-div{
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-div .create-session{
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.buttons-div .create-session:hover{
    background-color: rgb(250, 171, 81);
    padding: 23px;

}

.menu-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(185, 185, 185, 0.637);
    position: absolute;
    align-items: center;
    justify-content: center;
    
}

.menu {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.menu button:hover{
    padding: 23px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: greenyellow;
}